<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <style>
        body {
            background-image: url(https://th.bing.com/th/id/OIP.80Vit-se7VzgtinomLGyRAHaDt?w=349&h=174&c=7&r=0&o=5&dpr=1.5&pid=1.7);
            background-size: cover;
            background-repeat: no-repeat;
        }

        p span {
            color: green;
        }

        h1 {
            text-decoration: none;
            font-size: 50px;
        }
        p {
            color : #fff;
        }
    </style>
</head>
<body>
    <H1><b>Menu</b></H1>
    <P><br><span class="spans1"><b>Starling</b></span> Kami.</P>
</body>
</html>